body {
    background-color: #2e2e2e;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.mandar {
    background-color: #1C8C49;
}

.toggle {
    background-color: #086271;
}

.boton {
    background-color: #1c4d8c;
}

ul {
    list-style-type: none;
    margin: 4px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #4557BA;
}

li a:hover:not(.active) {
    background-color: #111;
}

textarea {
    resize: none;
}

.logs {
    font-size: 14px;
    font-family: Calibri;
    height: 5px;
    width: 1800px;
}

.coords {
	display: inline-block;
	flex-direction: column;
	background: #335368;
	color: #fff;
	border-radius: 2px;
	margin-right: 10px;
	margin-bottom: 10px;
	min-width: 250px;
	word-wrap: break-word;
	align-items: center
}


.coords-top {
	display: flex;
	flex-direction: column;
	padding: 12px 12px 8px;
	align-items: center
}

.coords:hover {
	background-image: linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08))
}

.coords:active {
	background-image: linear-gradient(rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16))
}

.coords-name {
	font-size: 20px;
	font-weight: bold
}

.coords-footer {
	margin-top: auto;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16));
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	display: flex;
	flex-direction: row;
	font-size: 10px;
	font-weight: bold;
	padding: 4px 8px;
	justify-content: flex-start;
	align-content: center
}

.coords-fecha {
	margin-left: auto
}

.coords-description {
	margin-top: 8px;
	text-align: center;
	font-size: 14px
}

.conectar {
	display: flex;
	justify-content: center;
	padding: 12px 0px
}

.inputbonito {
	background: rgba(0, 0, 0, 0.16);
    border: 0;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    width: 14%;
    height: 20px
}