<ul>
    <li><a href="/">Consola</a></li>
    <li style="float:right"><a href="/buscar">Buscar</a></li>
    <li style="float:right"><a target="_blank" href="/encontrado">Encontrado</a></li>
    <li style="float:right"><a href="/coords">Coords</a></li>
</ul>