<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>FraZaMaMe Bot</title>
		<link rel="stylesheet" type="text/css" href="/styles.css">
	</head>

	<body>
		<ul>
			<li> <a class="active">Consola</a></li>
			<li style="float:right"><a href="/buscar">Buscar</a></li>
			<li style="float:right"><a target="_blank" href="/encontrado">Encontrado</a></li>
			<li style="float:right"><a href="/coords">Coords</a></li>
		</ul>

		<form method="POST">
			<textarea type="text" cols="190" rows="2" maxlength=255 name="texto" placeholder="Mensaje que fraza va a mandar"
				autofocus></textarea>
			<button type="submit" class="button mandar">Mandar</button>
		</form>
	</body>

</html>